/* html {
  height: 100%;
} */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* height: 100%; */
  background-color: #f3f8fc;
  min-height: 100%;
  position: relative;
  padding-bottom: [footer-height];
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "MachineGunk";
  src: local("MachineGunk"), url(./fonts/MachineGunk.otf) format("opentype");
}
