.custom-modal {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.modal-dialog {
  max-width: 1000px;
  margin: none;
}

.modal-backdrop {
  background-color: #042b4e !important;
  opacity: 0.8 !important;
}

.modal-content {
  background: #ffffff;
  border: 1px solid #9fbacf;
  box-sizing: border-box;
  box-shadow: 0px 4px 0px rgba(4, 43, 78, 0.14);
  border-radius: 24px;
  min-width: 780px !important;
  min-height: 428px !important;
}

@media only screen and (max-width: 600px) {
  .modal-content {
    width: 100% !important;
    min-width: 0px !important;
  }
}
